<header id="custom-header" class="header">
    <div class="header-nav">
        <a (click)="newLead()" class="active nav-link nav-text">
          <clr-icon shape="plus"></clr-icon>
        </a>
    </div>
    <div class="header-actions">
      <div *ngIf="session.isAuthenticated">
        <div class="header-actions">
          <a routerLink="/" class="nav-link nav-text">Logged in as: {{session.user.username}}</a>
          <a (click)="logout()" class="nav-link nav-text">
            Log Out
          </a>
        </div>
      </div>
    </div>
</header>

<app-dashboard-newlead [hidden]="!newLeadActive" (modalClosed)="onModalClosed()"></app-dashboard-newlead>

<app-dashboard-columns></app-dashboard-columns>
