#custom-header {
  background: linear-gradient(to left, rgba(130, 217, 200, 1), rgba(2, 186, 169, 1));
}

#search_input {
  display: inline-block !important;
  margin-left: 5px;
}

.search {
  font-size: 1.2rem;
}

clr-icon {
  width: 28px !important;
  height: 28px !important;
}

.loggedin-user {
  display: none !important;
}

.alarms span {
  color: red;
}

.alarms clr-icon {
  fill: red;
}

.alarm-length {
  margin-right: 3rem;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
  .loggedin-user {
    display: inline-block !important;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
