<header id="custom-header" class="header">

  <div *ngIf="router.url=='/dashboard'">
    <div class="header-nav">
      <a (click)="emitNewLead()" class="nav-link nav-text">
        <clr-icon shape="plus"></clr-icon>
      </a>
    </div>
  </div>

  <div *ngIf="router.url=='/dashboard'">
    <form class="search" #search="ngForm">
      <label for="search_input" class="searchlabel">
        <input id="search_input" type="text" name="search" (keyup)="searchPattern($event)" placeholder="Lead details..">
      </label>
    </form>
  </div>

    <div *ngIf="router.url.includes('lead')">
      <div class="header-nav">
        <a (click)="goBack()" class="nav-link nav-text">
          <clr-icon shape="caret left"></clr-icon>
        </a>
        <a (click)="emitEditLead()" class="nav-link nav-text">
          <clr-icon shape="edit"></clr-icon>
        </a>
      </div>
    </div>

    <div class="header-actions">

      <div *ngIf="alarms?.length > 0">
        <div class="header-actions">
          <clr-dropdown [clrMenuPosition]="'bottom-right'" [clrCloseMenuOnItemClick]="false">
            <button type="button" clrDropdownToggle class="alarms">
                <clr-icon id="alarm-dropdown" shape="alarm-clock"></clr-icon>
                <span class="alarm-length">{{alarms.length}}</span>
            </button>
            <clr-dropdown-menu>
                <label class="dropdown-header">Leads that have not been updated in 2 weeks</label>
                <div class="dropdown-divider"></div>
                <div *ngFor="let alarm of alarms">
                  <button routerLink="/lead/{{alarm._id}}" type="button" clrDropdownItem>{{alarm.company}}, {{alarm.jobtitle}}</button>
                </div>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
      </div>

      <div *ngIf="session.isAuthenticated">
        <div class="header-actions">
          <span class="loggedin-user nav-link nav-text">Logged in as: {{session.user.username}}</span>
          <a (click)="logout()" class="nav-link nav-text">
            <clr-icon shape="logout"></clr-icon>
          </a>
        </div>
      </div>

      <div *ngIf="!session.isAuthenticated">
        <div class="header-actions">
          <a routerLink="/login" class="nav-link nav-text">
            <clr-icon shape="login"></clr-icon>
          </a>
        </div>
      </div>

    </div>

</header>
