.section-1 {
  padding-top: 4rem;
  min-height: 50vh;
  text-align: center;
  background: url('../../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1 h1 {
  margin: 0;
}

.section-1 h1, h2 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

#custom-button-frontpage {
  margin: 1.5rem 0;
  width: 18rem;
  height: 4rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
}

#custom-button-frontpage:hover {
  background-color: rgba(212, 212, 212, 0.5);
}

#custom-button-frontpage:active {
  background-color: rgba(212, 212, 212, 0.5);
}

.section-2 {
  min-height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  /*background: linear-gradient(180deg, rgba(145, 219, 205, 1), rgba(2, 186, 169, 1));*/
  padding-top: 1rem;
}

.section-2 p {
  margin: 1.7rem 5px;
  font-size: 1.1rem;
  color: rgb(112, 112, 112);
}

.section-2 clr-icon {
  fill: rgba(5, 153, 139, 1);
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

  #custom-button-frontpage {
    margin: 6rem 0.5rem 1rem 0.5rem;
  }

  .section-1 {
    min-height: 55vh;
    padding-top: 6rem;
  }

  .section-2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
  }

  .section-2 div {
    width: 40%;
  }

  .section-1 h1, h2 {
    font-size: 3rem;
  }

  button {
    margin: 4rem 0;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {

  .section-2 div {
    width: 35%;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

  .section-1 {
    text-align: right;
  }

  .section-1-text {
    width: 50%;
    float: right;
    text-align: left;
    padding-right: 5%;
  }

  .section-1 {
    min-height: 70vh;
  }

  .section-2 {
    min-height: 30vh;
  }

  .section-2 div {
    width: 25%;
  }

}
