<div class="columns">
  <div class="lead-col lead-contacted">
    <p class="col-header">Contacted</p>
    <div class="lead-cards">
      <a href="#">
        <div class="lead-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1000px-Google_%22G%22_Logo.svg.png" alt="Logo">
          <div class="lead-text">
            <p>Google Inc.</p>
            <p>Software Developer</p>
          </div>
        </div>
      </a>
    </div>

  </div>
  <div class="lead-col lead-replyreceived">
    <p class="col-header">Reply received</p>

  </div>
  <div class="lead-col lead-interview">
    <p class="col-header">Interview</p>

  </div>
  <div class="lead-col lead-done">
    <p class="col-header">Done</p>

  </div>
</div>
