.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #DEFFF9;
}

.lead-col {
  border-radius: 5px;
  width: 100%;
  margin: 1%;
  background: #FAFAFA;
}

.col-header {
  margin: 2% 2% 4% 2%;
  border-bottom: 1px solid #006668;
  text-align: center;
  font-weight: bold;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

  .columns {
    align-items: center;
  }

  .lead-col {
    width: 85%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .columns {
    flex-direction: row;
    align-items: baseline;
    height: 100vh;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
