.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #DEFFF9;
}

.lead-col {
  min-height: 200px;
  border-radius: 5px;
  width: 100%;
  margin: 1%;
  background: #FAFAFA;
}

.col-header {
  margin: 2% 2% 4% 2%;
  border-bottom: 1px solid #006668;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.lead-card:hover {
  background-color: #DEFFF9;
}

.lead-card {
  border: 1px solid #00968B;
  min-height: 100px;
  margin: 2%;
  border-radius: 5px;
  display: flex;
}

.lead-card img {
  width: 64px;
  height: 64px;
  margin: auto 2%;
}

.lead-text {
  margin: auto 10%;
}

.lead-text p {
  margin: 0;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

  .columns {
    align-items: center;
  }

  .lead-col {
    width: 85%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .columns {
    flex-direction: row;
    align-items: baseline;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
