<div class="modal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close" (click)="close(editForm)"></clr-icon>
        </button>
        <h3 class="modal-title">Edit lead</h3>
      </div>

      <div class="modal-content-container">
        <div class="modal-body">
          <form #editForm="ngForm" (ngSubmit)="submitEdit(editForm)">
            <section class="form-block">
              <div class="form-group">
                <label for="company">Company</label>
                <label for="company" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="companyInput.invalid && (companyInput.dirty || companyInput.touched)">
                          <input
                            type="text"
                            name="company"
                            size="25"
                            [(ngModel)]="editableLead.company"
                            #companyInput="ngModel"
                            required
                            >
                          <span class="tooltip-content">Company is required.</span>
                        </label>
              </div>
              <div class="form-group">
                <label for="contactperson-email">Contact person email </label>
                <label for="contactperson-email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                              <input
                                type="email"
                                name="contactpersonemail"
                                size="25"
                                [(ngModel)]="editableLead.contactperson.email"
                                #emailInput="ngModel"
                                required
                                email
                                >
                              <span class="tooltip-content">Email is not valid.</span>
                            </label>
              </div>
              <div class="form-group">
                <label for="contactperson-name">Contact person name </label>
                <input
                  type="text"
                  name="contactperson-name"
                  size="28"
                  [(ngModel)]="editableLead.contactperson.name"
                  >
              </div>
              <div class="form-group">
                <label for="jobtitle">Job title</label>
                <label for="jobtitle"
                  aria-haspopup="true"
                  role="tooltip"
                  class="tooltip tooltip-validation tooltip-md"
                  [class.invalid]="jobtitleInput.invalid && (jobtitleInput.dirty || jobtitleInput.touched)">
                <input
                  type="text"
                  name="jobtitle"
                  size="25"
                  [(ngModel)]="editableLead.jobtitle"
                  #jobtitleInput="ngModel"
                  required
                  >
                  <span class="tooltip-content">Job title is required.</span>
                </label>
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <div class="select">
                  <select name="status" [(ngModel)]="editableLead.status" required>
                    <option value="contacted">Contacted</option>
                    <option value="replyreceived">Reply received</option>
                    <option value="interview">Interview</option>
                    <option value="done">Done</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="logourl">Company logo url</label>
                <input
                  type="text"
                  name="logourl"
                  size="28"
                  [(ngModel)]="editableLead.logourl"
                  >
              </div>

              <button id="custom-button" class="btn btn-primary" [disabled]="!editForm.valid">Create</button>
            </section>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
