.lead-cards {
  min-height: 150px;
}

a {
  text-decoration: none;
}

.lead-card:hover {
  box-shadow: 2px 2px 2px 1px #DDDDDD;
}

.lead-card {
  min-height: 100px;
  margin: 5%;
  display: flex;
  box-shadow: 1px 1px 1px 0 lightgray;
  background-color: white;
  color: #3F3F3F;
  padding: 4px;
}

.lead-card img {
  width: 64px;
  height: 64px;
  margin: auto 2%;
  border-radius: 5px;
}

.lead-text {
  margin: auto 10%;
}

.lead-text p {
  margin: 0;
}

.jobtitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.company {
  font-size: 1rem;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .lead-card img {
    width: 48px;
    height: 48px;
  }

  .jobtitle {
    font-size: 0.8rem;
  }

  .company {
    font-size: 0.7rem;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .jobtitle {
    font-size: 1.2rem;
  }

  .company {
    font-size: 1rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
