.lead-cards {
  min-height: 150px;
}

a {
  text-decoration: none;
}

.lead-card:hover {
  box-shadow: 2px 2px 2px 1px #DDDDDD;
}

.lead-card {
  min-height: 100px;
  margin: 5%;
  display: flex;
  box-shadow: 1px 1px 1px 0 lightgray;
  background-color: white;
  color: #3F3F3F;
  padding: 4px;
}

.lead-card img {
  width: 64px;
  height: 64px;
  margin: auto 2%;
  border-radius: 5px;
}

.lead-text {
  margin: auto 10%;
}

.lead-text p {
  margin: 0;
}

.jobtitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.company {
  font-size: 1rem;
}
