<app-header></app-header>

<app-lead-edit [editableLead]="individualLead" [hidden]="!editLeadActive" (modalClosed)="toggleEditLead()" (leadUpdated)="getLeadParamId()"></app-lead-edit>

<div [hidden]="!deleteLeadActive" class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Confirm lead delete</h3>
            </div>
            <div class="modal-body">
                <p>Press delete to remove lead. Cancel to go back.</p>
            </div>
            <div class="modal-footer">
                <button id="custom-button-cancel" class="btn" type="button" (click)="toggleDeleteLead()">Cancel</button>
                <button id="custom-button-delete" class="btn" type="button" (click)="deleteLead()">Delete</button>
            </div>
        </div>
    </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div [hidden]="!emailInfoModalActive" class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Send an email to this timeline!</h3>
            </div>
            <div class="modal-body">
                <p>Forward your email to this address:
                  <br><strong id="mailaddress">744d98aedf9fa8b9b23c@cloudmailin.net</strong>
                </p>
                <p>Your email subject has to be:
                  <br><strong>{{individualLead._id}}</strong>
                </p>
            </div>
            <div class="modal-footer">
                <button id="custom-button" class="btn btn-primary" type="button" (click)="toggleEmailInfoModal()">Ok</button>
            </div>
        </div>
    </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="individualLead" class="page-content">
  <div class="flex-container">
    <div class="main-col main-col-1">
      <div class="topic">
        <img class="topic-img" src="{{individualLead.logourl}}" alt="">
        <div class="topic-text">
          <div *ngIf="individualLead.isFavorite" class="markedasfavorite">
            <clr-icon class="star is-solid" shape="star" size="20"></clr-icon>
            <span class="markedasfavorite-span">Favorite</span>
          </div>
          <h2>{{individualLead.jobtitle}}</h2>
          <h3>{{individualLead.company}}</h3>
          <p>Last updated: {{individualLead.updated_at | date:'longDate'}}</p>
        </div>
      </div>
      <div class="lead-info">
        <h3>Lead status</h3>
        <h4>{{individualLead.status | leadstatus}}</h4>
        <h3>Lead created</h3>
        <h4>{{individualLead.created_at | date:'longDate'}}</h4>
      </div>
      <div class="lead-contact">
        <h3>Lead contact</h3>
        <h4>{{individualLead.contactperson?.name}}</h4>
        <h4>{{individualLead?.contactperson?.email}}</h4>
      </div>
      <button id="custom-button-delete" class="btn lead-delete-button" type="button" name="deletelead" (click)="toggleDeleteLead()">Delete lead</button>
    </div>

    <div class="main-col main-col-2">
      <h2>Lead timeline</h2>
      <div class="timeline-features">
        <div class="new-entry" [hidden]="timelineButtonsHidden" (click)="toggleTimelineEntry()">
          <clr-icon class="note-icon" shape="note" size="48"></clr-icon>
        </div>
        <div class="new-mail-entry" [hidden]="timelineButtonsHidden" (click)="toggleEmailInfoModal()">
          <clr-icon class="note-icon" shape="email" size="48"></clr-icon>
        </div>
        <div class="new-entry-attachment" [hidden]="timelineButtonsHidden" (click)="toggleAttachmentAdd()">
          <clr-icon class="note-icon" shape="file" size="48"></clr-icon>
        </div>
      </div>

      <form class="new-entry-form" [hidden]="!timelineEntryActive" #timelineEntry="ngForm" (ngSubmit)="submitTimelineEntry(timelineEntry)">
        <textarea
          id="content"
          name="content"
          [(ngModel)]="newEntry.content"
          required>
        </textarea>
        <button
          id="custom-button"
          class="btn btn-primary"
          [disabled]="!timelineEntry.valid"
          >Save</button>
        <clr-icon class="note-icon close-entry" shape="close" size="32" (click)="cancelTimelineEntry(timelineEntry)"></clr-icon>
      </form>

      <div
        [hidden]="!attachmentAddActive"
        ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="well my-drop-zone file-upload"
        name="attachment"
        >
        Drag file(s) here
      </div>
      <div class="file-upload-actions" [hidden]="!attachmentAddActive">
        <clr-icon class="note-icon upload-cancel" shape="close" size="32" (click)="closeAttachmentAdd()"></clr-icon>
        <clr-icon class="note-icon upload-file" shape="floppy" size="32" (click)="addAttachments()"></clr-icon>
      </div>

      <div *ngFor="let item of uploader.queue">
        <p class="upload-item-name">{{ item?.file?.name }}
          <clr-icon *ngIf="item?.isError" class="note-icon error-upload" shape="error" size="24"></clr-icon>
          <span *ngIf="item?.isUploading" class="spinner spinner-sm uploading"></span>
          <clr-icon *ngIf="item?.isUploaded" class="note-icon uploaded" shape="check" size="24"></clr-icon>
        </p>
      </div>

      <div class="timeline-content">
        <div *ngIf="allTimelineEntries">
          <div *ngFor="let entry of allTimelineEntries">
            <div class="entry">
              <p class="entry-date">{{entry.created_at | date:'longDate'}}
                  <clr-icon *ngIf="entry.creator === 'email'" class="note-icon" shape="email" size="24"></clr-icon>
                  <clr-icon *ngIf="entry.creator === 'manual'" class="note-icon" shape="user" size="24"></clr-icon>
                  <clr-icon *ngIf="entry.creator === 'app'" class="note-icon" shape="display" size="24"></clr-icon>
              </p>
              <p class="entry-content">{{entry.content}}
                <a *ngIf="entry.fileurl" href="{{entry.fileurl}}">{{entry.filename}}</a>
                <clr-icon id="{{entry._id}}" class="note-icon remove-entry" shape="trash" size="24" (click)="deleteTimelineEntry($event)"></clr-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
