<app-header></app-header>

<app-lead-edit [editableLead]="individualLead" [hidden]="!editLeadActive" (modalClosed)="toggleEditLead()"></app-lead-edit>

<div [hidden]="!deleteLeadActive" class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Confirm lead delete</h3>
            </div>
            <div class="modal-body">
                <p>Press delete to remove lead. Cancel to go back.</p>
            </div>
            <div class="modal-footer">
                <button id="custom-button-cancel" class="btn" type="button" (click)="toggleDeleteLead()">Cancel</button>
                <button id="custom-button-delete" class="btn" type="button" (click)="deleteLead()">Delete</button>
            </div>
        </div>
    </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="individualLead" class="page-content">
  <div class="flex-container">
    <div class="main-col main-col-1">
      <div class="topic">
        <img class="topic-img" src="{{individualLead.logourl}}" alt="">
        <div class="topic-text">
          <h2>{{individualLead.jobtitle}}</h2>
          <h3>{{individualLead.company}}</h3>
          <p>Last updated: {{individualLead.updated_at | date:'longDate'}}</p>
        </div>
      </div>
      <div class="lead-info">
        <h3>Lead status</h3>
        <h4>{{individualLead.status | leadstatus}}</h4>
        <h3>Lead created</h3>
        <h4>{{individualLead.created_at | date:'longDate'}}</h4>
      </div>
      <div class="lead-contact">
        <h3>Lead contact</h3>
        <h4>{{individualLead.contactperson?.name}}</h4>
        <h4>{{individualLead?.contactperson?.email}}</h4>
      </div>
      <button id="custom-button-delete" class="btn lead-delete-button" type="button" name="deletelead" (click)="toggleDeleteLead()">Delete lead</button>
    </div>
    <div class="main-col main-col-2">
      <h2>Lead timeline</h2>
      <div class="new-entry" [hidden]="!timelineEntryHidden" (click)="toggleTimelineEntry()">
        <clr-icon class="note-icon" shape="note" size="48"></clr-icon>
      </div>
      <form class="new-entry-form" [hidden]="timelineEntryHidden" #timelineEntry="ngForm" (ngSubmit)="submitTimelineEntry(timelineEntry)">
        <textarea
          id="content"
          name="content"
          [(ngModel)]="newEntry.content"
          required>
        </textarea>
        <button
          id="custom-button"
          class="btn btn-primary"
          [disabled]="!timelineEntry.valid"
          >Save</button>
        <clr-icon class="note-icon close-entry" shape="close" size="32" (click)="cancelTimelineEntry(timelineEntry)"></clr-icon>
      </form>
      <div class="timeline-content">
        <div *ngIf="allTimelineEntries">
          <div *ngFor="let entry of allTimelineEntries">
            <div class="entry">
              <p class="entry-date">{{entry.created_at | date:'longDate'}}</p>
              <p class="entry-content">{{entry.content}}
                <clr-icon id="{{entry._id}}" class="note-icon remove-entry" shape="trash" size="24" (click)="deleteTimelineEntry($event)"></clr-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
