.page-content {
  width: 100%;
  min-height: 100vh;
  background-color: #F5F5F5;
  padding: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.main-col {
  width: 100%;
  height: 80vh;
  padding-left: 20px;
  padding-right: 20px;
}

.topic {
  display: flex;
  height: 25%;
}

.topic-img {
  width: 192px;
  height: 192px;
  border-radius: 5px;
  user-select: none;
}

.topic-text {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.topic h2 {
  font-weight: bold;
}

.lead-info {
  margin-top: 50px;
}

.lead-info h3,
.lead-contact h3 {
  font-weight: bold;
}

.lead-delete-button {
  margin-top: 5rem;
}

.main-col-2 {
  display: flex;
  flex-direction: column;
  color: #3F3F3F;
  padding: 4px;
  overflow-y: scroll;
}

.main-col-2 h2 {
  margin: 0 auto;
  user-select: none;
}

.new-entry {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  border: 1px solid lightgray;
  height: 5rem;
  border-radius: 5px;
}

.new-entry:hover {
  background-color: #7ed7c8;
}

.note-icon {
  margin: 0 auto;
}

.new-entry-form {
  width: 90%;
  margin: 0 auto;
}

.new-entry-form button {
  width: 100px;
}

.new-entry-form textarea {
  border: 1px solid lightgray;
}

.close-entry {
  margin-left: 2rem;
}

.close-entry:hover {
  fill: gray;
}

.timeline-content {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}

.entry {
  margin: 1rem;
}

.entry-date {
  margin: 1rem 0;
  font-weight: bold;
}

.entry-content {
  margin: 0;
}

.remove-entry {
  float: right;
}

.remove-entry:hover {
  fill: tomato;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {


}

/* Larger than tablet */
@media (min-width: 750px) {
  .flex-container{
    flex-direction: row;
  }
  .main-col-1 {
    width: 50%;
  }
  .main-col-2 {
    width: 50%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
