@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  /* font-family: 'Open Sans', sans-serif !important; */
}

/* Common styles - elements */

a {
  cursor: pointer;
}

/* Common styles - ids */

#custom-header {
  background: linear-gradient(to left, rgba(145,219,205,100), rgba(2,186,169,100));
}

#custom-button {
  background-color: #00AB9A;
  border-color: #00968B;
  border-radius: 0;
  color: black;
}

#custom-button:hover {
  background-color: #00D4B8;
}

#custom-button-cancel {
  background-color: white;
  border-color: #00968B;
  border-radius: 0;
  color: black;
}

#custom-button-cancel:hover {
  background-color: #f4efef;
}

#custom-button-delete {
  background-color: tomato;
  border: none;
  border-radius: 0;
  color: black;
}

#custom-button-delete:hover {
  background-color: #e94122;
}

/* Common styles - classes */

.header-nav a:hover {
  background-color: #007E7A;
}

/* Flashes */

#flashMessages, .flash-message {
  background-color: #F5F5F5 !important;
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
  height: 40px !important;
}

.flash-message p {
  margin: 5px auto !important;
  font-weight: bold !important;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
