<div class="modal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close" (click)="close(submitForm)"></clr-icon>
        </button>
        <h3 class="modal-title">Create new lead</h3>
      </div>
      <div class="modal-content-container">
        <div id="modalbody" class="modal-body">
          <form id="newlead" #submitForm="ngForm" (ngSubmit)="submit(submitForm)">
            <section class="form-block">
              <div class="form-group">
                <label for="company">Company</label>
                <label for="company" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="companyInput.invalid && (companyInput.dirty || companyInput.touched)">
                          <input
                            type="text"
                            name="company"
                            size="25"
                            [(ngModel)]="newLead.company"
                            #companyInput="ngModel"
                            (blur)="getGlassDoorCompany(newLead.company, submitForm)"
                            (keydown)="watchFieldChanges(companyInput)"
                            required
                            >
                          <span class="tooltip-content">Company is required.</span>
                        </label>
              </div>
              <div class="form-group">
                <label for="contactperson-email">Contact person email </label>
                <label for="contactperson-email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                              <input
                                type="text"
                                name="contactperson-email"
                                size="25"
                                [(ngModel)]="newLead.contactperson.email"
                                #emailInput="ngModel"
                                required
                                email
                                >
                              <span class="tooltip-content">Email is not valid.</span>
                            </label>
              </div>
              <div class="form-group">
                <label for="contactperson-name">Contact person name </label>
                <input
                  type="text"
                  name="contactperson-name"
                  size="28"
                  [(ngModel)]="newLead.contactperson.name"
                  >
              </div>
              <div class="form-group">
                <label for="jobtitle">Job title</label>
                <label for="jobtitle"
                  aria-haspopup="true"
                  role="tooltip"
                  class="tooltip tooltip-validation tooltip-md"
                  [class.invalid]="jobtitleInput.invalid && (jobtitleInput.dirty || jobtitleInput.touched)">
                <input
                  type="text"
                  name="jobtitle"
                  size="25"
                  [(ngModel)]="newLead.jobtitle"
                  #jobtitleInput="ngModel"
                  required
                  >
                  <span class="tooltip-content">Job title is required.</span>
                </label>
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <div class="select">
                  <select name="status" [(ngModel)]="newLead.status" required>
                                    <option value="contacted">Contacted</option>
                                    <option value="replyreceived">Reply received</option>
                                    <option value="interview">Interview</option>
                                    <option value="done">Done</option>
                                </select>
                </div>
              </div>

              <div class="form-group">
                <label for="logourl">Company logo url</label>
                <input
                  type="text"
                  name="logourl"
                  size="28"
                  [(ngModel)]="newLead.logourl"
                  >
              </div>

              <button id="custom-button" class="btn btn-primary" [disabled]="!submitForm.valid">Create</button>
            </section>
          </form>
        </div>

        <div *ngIf="companyRating.length > 0" class="modalcards">
            <div class="card">
              <div id="card-picname" class="card-img">
                <img id="card-image" src="{{companyRating[0]?.squareLogo}}" alt="No logo found." />
                <span class="companyname">{{companyRating[0].name}}</span>
              </div>
              <div class="card-block">
                <p class="card-text overall-rating">
                  Overall rating: {{companyRating[0].overallRating}} out of {{companyRating[0].numberOfRatings}} ratings
                </p>
                <div *ngIf="companyRating[0].ceo">
                  <p class="ceo-p">{{companyRating[0].ceo.pctApprove}} % of {{companyRating[0].ceo.numberOfRatings}} ratings approve CEO.</p>
                </div>
                <div *ngIf="companyRating[0].featuredReview">
                  <p class="featured-review">Featured review</p>
                  <p class="review-p"><strong>Title:</strong> {{companyRating[0].featuredReview.jobTitle}}</p>
                  <p class="review-p"><strong>Pros:</strong> {{companyRating[0].featuredReview.pros}}</p>
                  <p class="review-p"><strong>Cons:</strong> {{companyRating[0].featuredReview.cons}}</p>
                  <p class="review-p"><strong>Reviewer location:</strong> {{companyRating[0].featuredReview.location}}</p>
                </div>
                <a id="poweredbyglassdoor" href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
