#newlead {
  margin-top: 2rem;
}

#modalbody {
  width: 65%;
}

#card-image {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 3px;
}

#card-picname * {
  display: inline;
}

#poweredbyglassdoor {
  display: block;
  margin-top: 15px;
}

.modalcards {
  width: 40%;
}

.card-img {
  text-align: center;
}

.companyname {
  margin-left: 20px;
  font: 1.2rem;
  font-weight: bold;
}

.overall-rating {
  font-weight: bold;
}

.modal-content-container {
  display: flex;
}

.featured-review {
  font-weight: bold;
}

.review-p,
.ceo-p {
  margin: 0;
  font-size: 0.9rem;
}
